@media print {
	#header {
		display: none;
	}

	* {
	margin: 0px;
	padding: 0px;
	}

	html,body {
		height: 100%;
		font-family: georgia, serif;
		font-size: 12px;
	}

	h1,h2,h3,h4,h5,h6 {
		margin: 0px;
		padding: 0px;
	}

	#languages {
		float: right;
	}

	#body {
		padding-bottom: 55px;
	}

	#body > div {
		background-color: rgba(255, 255, 255, 0.7);
		width: 80%;
		margin: 0px auto;
		padding: 15px;
		border-radius: 2px;
	}

	article {
		border-radius: 4px;
		border: 1px solid #ccc;
		padding: 10px;
		margin-top: 10px;
	}

	article label {
		width: 100px;
		margin: 0px;
	}

	article a {
		display: block;
		margin-top: 5px;
	}
	
	table {
		width: 100%;
		text-align: left;
	}
	
	footer {
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 40px;
		line-height: 40px;
		vertical-align: middle;
		text-align: center;
	}

	#modules ul {
		list-style: none;
	}

	#modules a {
		display: block;
		padding: 5px;
		width: 200px;
		margin-top: 10px;
		border: 1px solid #ccc;
		border-radius: 3px;
	}
}