@import "bootstrap.less";

/* VARIABLES */
@bg-gradient-top: #ccc;
@bg-gradient-bottom: #eee;
/* *** */

/* MIXINS */
.ease {
	-webkit-transition: all ease 0.1s;
	-moz-transition: all ease 0.1s;
	-ms-transition: all ease 0.1s;
	-o-transition: all ease 0.1s;
	transition: all ease 0.1s;
}

.shadow {
	box-shadow: 0px 0px 5px #999;
}

.gradient(@topColor: #000, @bottomColor: #fff){
	background-color: @bottomColor;
	background-image: -moz-linear-gradient(center top, @topColor, @bottomColor);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, @topColor), color-stop(1, @bottomColor));
	background-image: linear-gradient(top, @topColor, @bottomColor);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '@topColor', EndColorStr = '@bottomColor');
	background-repeat: no-repeat;
}
/* *** */

* {
margin: 0px;
padding: 0px;
}

html {
	overflow-y: scroll;
}

html,body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
	padding: 0px;
	color: #29a;
}

#container{
	min-height: 100%;
	position: relative;
	.gradient(@bg-gradient-top, @bg-gradient-bottom);
}

#header {
	overflow: hidden;
	width: 100%;
	background-color: #444;
	margin-bottom: 35px;
	line-height: 45px;
	vertical-align: middle;
	.shadow;
	.gradient(#555, #444);
}

#header #logo {
	width: 80%;
	margin: 0 auto;
}

#header nav ul {
	list-style: none;
	margin: 0px;
}

#header nav {
	width: 80%;
	margin: 0px auto;
}

#header nav form {
	float: left;
}

#header nav a,
#header nav input {
	background: none;
	border: none;
	display: block;
	padding: 0px 5px;
	height: 45px;
	float: left;
	margin-right: 5px;
	color: #eee;
	font-size: 18px;
	text-decoration: none;
	.ease;
}

#header nav a:hover {
	background-color: #666;
}

#languages {
	float: right;
}

#header nav #languages a {
	margin: 0px;
}

#body {
	padding-bottom: 55px;
}

#body > div {
	background-color: rgba(255, 255, 255, 0.7);
	width: 80%;
	margin: 0px auto;
	padding: 15px;
	border-radius: 2px;
	.shadow;
}

article {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
	.gradient(#eee, #fff);
}

article label {
	width: 100px;
	margin: 0px;
}

article a {
	display: block;
	margin-top: 5px;
}

table {
	width: 100%;
}

table tr td {
	padding: 3px 0px;
}

table a {
	margin-top: 0px;
}

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	background-color: #333;
	text-align: center;
	color: #ddd;
	.shadow;
	.gradient(#444, #555);
}

#modules ul {
	list-style: none;
}

#modules a {
	display: block;
	padding: 5px;
	width: 200px;
	.gradient(#ddd, #fff);
	margin-top: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

#homepageImage ul{
    float: right;
    width: 600px;
    margin: 0 0 15px 20px;    
    text-align: right;
}

#homepageImage img {
	border-radius: 10px;
	box-shadow: 2px 2px 3px #8B8B8B;
}


#profilePicture img {
	border-radius: 10px;
	box-shadow: 2px 2px 3px #8B8B8B;
}

#homepageText {
    display: block;
	padding: 5px;
	width: 200px;
	margin-top: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
    text-align: center;
	.gradient(#fff, #dfdfdf);
	box-shadow: 0px 0px 7px #ddd;
}